<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Employee Management</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
	<!-- Pignose Calender -->
	<link href="~/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
	<!-- Chartist -->
	<link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css">
	<link rel="stylesheet" href="~/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
	<!-- Custom Stylesheet -->
	<link href="~/css/style.css" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
	<link rel="icon" type="~/image/png" sizes="16x16" href="~/images/favicon.png">
	<!-- Custom Stylesheet -->
	<link href="~/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/plugins/toastr/css/toastr.min.css" rel="stylesheet">
	
</head>
<body>
	
	
	<div id="preloader">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
			</svg>
		</div>
	</div>
	<div id="main-wrapper">
		@*  for Navbar *@
	   @{ 
	   	await Html.RenderPartialAsync("_NavBar");  
	   }

	   @*  for Sidebar *@
		@{
			await Html.RenderPartialAsync("_Sidebar");
		}
		
		<div class="main-body">
			@RenderBody()
		</div>
		<div class="footer">
			<div class="copyright">
				<p>Copyright &copy; Designed & Developed by <a href="~/images//users/h-logo.png">HatechDesk Technologies</a> 2024</p>
			</div>
		</div>
		</div>

		<script src="~/plugins/common/common.min.js"></script>
		<script src="~/js/custom.min.js"></script>
		<script src="~/js/settings.js"></script>
		<script src="~/js/gleek.js"></script>
		<script src="~/js/styleSwitcher.js"></script>

		<!-- Chartjs -->
		<script src="~/plugins/chart.js/Chart.bundle.min.js"></script>
		<!-- Circle progress -->
		<script src="~/plugins/circle-progress/circle-progress.min.js"></script>
		<!-- Datamap -->
		<script src="~/plugins/d3v3/index.js"></script>
		<script src="~/plugins/topojson/topojson.min.js"></script>
		<script src="~/plugins/datamaps/datamaps.world.min.js"></script>
		<!-- Morrisjs -->
		<script src="~/plugins/raphael/raphael.min.js"></script>
		<script src="~/plugins/morris/morris.min.js"></script>
		<!-- Pignose Calender -->
		<script src="~/plugins/moment/moment.min.js"></script>
		<script src="~/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
		<!-- ChartistJS -->
		<script src="~/plugins/chartist/js/chartist.min.js"></script>
		<script src="~/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
		<script src="~/js/dashboard/dashboard-1.js"></script>

	    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


