
@using EmployeeManangement.Application.ViewModels.Account
@model  UserIdentityModel;

@{
    Layout = null;
    ViewData["Title"] = "Sign Up";

}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sign-Up</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body class="h-100">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
   

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <img style="width:300px; height:90px" src="~/images/users/STAFFLY (2).png" alt="logo" class="text-center" />
                                     <h1 class="class=" fw-bold text-dark text-center fs-1 mt-3"">Join us today!</h1>
                                     <p class="class=" fw-lighter text-center fs-3 mt-3"">Sign up now to become a member</p>
                                </div>

                                <form class="mt-5 mb-5 login-input" method="post" asp-controller="Account" asp-action="SignUp">
                                    <p class="text-danger">@TempData["UserExist"]</p>
                                      <div class="form-group">
                                           <label  class="form-label">FirstName</label>
                                           <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter Your FirstName">
                                          <span asp-validation-for="FirstName" style="color:red"></span>
                                    </div>
                                      <div class="form-group">
                                             <label  class="form-label">LastName</label>
                                              <input type="text" asp-for="LastName" class="form-control" placeholder="Enter Your LastName">
                                              <span asp-validation-for="LastName" style="color:red"></span>
                                    </div>
                                    <div class="form-group">
                                            <label class="form-label">Email address</label>
                                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Your Email" />
                                            <span asp-validation-for="Email" style="color:red"></span>
                                    </div>
                                    <div class="form-group">
                                         <label  class="form-label" >Password</label>
                                          <input type="password" asp-for="Password" placeholder="Enter Your Password" class="form-control" id="exampleInputPassword1">
                                          <span asp-validation-for="Password" style="color:red"></span>
                                    </div>
                                    <div class="form-group">
                                         <label class="form-label">ConfirmPassword</label>
                                         <input type="password"  asp-for="ConfirmPassword" placeholder="Enter Your ConfirmPassword" class="form-control" >
                                         <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign Up</button>
                                </form>
                                   <p class="mt-5 login-form__footer">If You have Alraedy Account ? then click here for  <a  asp-controller="Account" asp-action="SignIn">SignIn</a> </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}