@using EmployeeManangement.Application.ViewModels.Account;
@model LogInToViewModel;
@{
    Layout = null;
    ViewData["Title"] = "Sign In";

}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Employee Management - SignIn</title>
    <link rel="icon" type="~/image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="h-100">

   @* Preloder Start *@s
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    @* Preloader End *@
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row h-100">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <h1 class="fw-lighter text-center fs-2 mt-3">Welcome back!</h1>
                                    <p class="fw-lighter text-center fs-2 mt-3">Log in to access your account</p>
                                </div>

                                <form class="mt-5 mb-5 login-input" method="post" asp-controller="Account" asp-action="SignIn">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Enter Your Email">
                                        <span asp-validation-for="Email" style="color:red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Password</label>
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter Your Password">
                                        <span asp-validation-for="Password" style="color:red"></span>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign in</button>
                                </form>
                                <p class="mt-5 login-form__footer text-primary">
                                    If You have Already Account? then click here for <a asp-controller="Account" asp-action="SignUp">SignUp here</a>
                                </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

</body>
</html>

  
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}